<h2>New Requisition</h2>
<div>
  <form #issuePartsForm="ngForm">
    <div class="form-group">
      <label for="employee">Employee</label>
      <select class="form-control" id="employee" required [(ngModel)]="model.employee" name="employee">
        <option *ngFor="let employee of employees" [value]="employee.id">
                {{employee.id}} - {{employee.fname}} {{employee.lname}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="job">Job or MR #</label>
      <input type="text" id="job" [(ngModel)]="model.job">
      <label for="department">Department</label>
      <input type="text" id="department" [(ngModel)]="model.department">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>